<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5vD2XVqwJrs5fIxIuyMo9wJ6qRfjRQVA</string>
	<key>GCM_SENDER_ID</key>
	<string>613452523667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>onetapcorp.appspot.com</string>
	<key>PROJECT_ID</key>
	<string>ontapcorp-backoffice</string>
	<key>STORAGE_BUCKET</key>
	<string>ontapcorp-backoffice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613452523667:ios:d0ea7e7f0d618713ab0566</string>
</dict>
</plist>